h1{
    background-color: gray; 
    text-align: center;
}
table{
    width: 100%;
    border-spacing: 0;
}
._14{
    background-color: #0088DC;
}
._13{
    background-color: #0095E2;
}
._12{
    background-color: #00a0e6;
}
._11{
    background-color: #31aae8;
}
._10{
    background-color: #55b6ed;
}
._9{
    background-color: #73c1f1;
}
._8{
    background-color: #8accef;
}
._7{
    background-color: #00ba88;
}
._6{
    background-color: #f5b0cc;
}
._5{
    background-color: #f69fc1;
}
._4{
    background-color: #f38db2;
}
._3{
    background-color: #f47ba6;
}
._2{
    background-color: #f36a98;
}
._1{
    background-color: #f55a8c;
}
._0{
    background-color: #ee3e7f;
}